<html>
<head>
    <meta name="description" content="Ridiculously Simple Forms with Raw React - Exercise One">
    <meta charset="utf-8">
    <title>JS Bin</title>

    <script src="https://cdn.rawgit.com/zloirock/core-js/master/client/shim.min.js"></script>
    <link href="../css/custom.css" rel="stylesheet" />

</head>
<body>
    <div id="header">
        <h1>Header</h1>
    </div>
    <div id="react-app"></div>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react.js"></script>
    <script src="https://cdn.jsdelivr.net/react/0.14.0-rc1/react-dom.js"></script>
    <script src="../js/component/Index.js"></script>
    <div id="footer">
        <div>
            <span>
                &copy;2016 Accredo Heal Group, Inc.| An Express Scripts Company. All Rights Reserverd.
            </span>
            <br />
            <br />
            <span>Please note that the information contained on this website is accurate as of the date received and processed by our pharmacy. records and information contained in the site should not be used as official documentation for medical records, It is intended for information use only. If you have any concerns or question regarding the information presented here, please contact us at 1-877-ACCREDO(222-7336)(9am to 8pm EST Monday through Friday)</span>

        </div>
    </div>
    </script>
</body>
</html>